<div class="title-block">
  <h3 class="title">Страница записей <span class="sparkline bar"></span></h3>
</div>
<section class="section" *ngIf="!isLoaded">Loading...</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <mp-add-event [categories]="categories"></mp-add-event>
    </div>
    <div class="col-md-6">
      <mp-add-category
        (onCategoryAdd)="newCategoryAdded($event)"
      ></mp-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mp-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></mp-edit-category>
    </div>
  </div>
</section>
